@model Caso_2.Models.Evento

@{
    ViewData["Title"] = "Crear Evento";
}

<h2>Crear Evento</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Titulo" class="control-label"></label>
        <input asp-for="Titulo" class="form-control bg-dark text-white" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <textarea asp-for="Descripcion" class="form-control bg-dark text-white"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoriaId" class="control-label">Categoría</label>
        <select asp-for="CategoriaId" class="form-control bg-dark text-white" asp-items="ViewBag.CategoriaId"></select>
        <span asp-validation-for="CategoriaId" class="text-danger"></span>
    </div>
    <div class="form-group text-white">
        <label asp-for="Fecha" class="control-label text-white"></label>
        <input asp-for="Fecha" type="date" class="form-control bg-dark text-white" id="fechaInput" />
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Hora" class="control-label"></label>
        <input asp-for="Hora" type="time" class="form-control bg-dark text-white" />
        <span asp-validation-for="Hora" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Duracion" class="control-label bg-dark"></label>
        <input asp-for="Duracion" type="number" class="form-control bg-dark text-white" min="1" max="24" />
        <span asp-validation-for="Duracion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Ubicacion" class="control-label"></label>
        <input asp-for="Ubicacion" class="form-control bg-dark text-white" />
        <span asp-validation-for="Ubicacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CupoMaximo" class="control-label"></label>
        <input asp-for="CupoMaximo" type="number" class="form-control bg-dark text-white" min="1" />
        <span asp-validation-for="CupoMaximo" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<script>
    
    const today = new Date().toISOString().split('T')[0];
    
    document.getElementById('fechaInput').setAttribute('min', today);
</script>
